In [1]:
from pydantic import BaseModel

In [3]:
class ConsultingResult(BaseModel):
    short_name: str
    name: str
    value: float
    units: str
    display_units: str

In [56]:
from typing import Any, Dict, Tuple
from pprint import pprint

class ConsultingResultRepo(BaseModel):
    consulting_results: list[ConsultingResult]

    def clear_all(self) -> None: 
        ...

    def put(self, ConsultingResult) -> None:
        self.consulting_results.append(ConsultingResult)

    def list_all(self) -> list[ConsultingResult]:
        pprint(self.consulting_results)

    def get(self, s_name: str) -> ConsultingResult:
        for result in self.consulting_results:
            if s_name in result.short_name:
                return result
    
    def to_dict(self) -> Dict[Any, Any]:
        return self.model_dump()

In [57]:
a = ConsultingResult(
    short_name='n_sess',
    name='Number of Sessions',
    value=100,
    units='Sessions',
    display_units='Sess'
)

a # value is automatically converted to float from int by pydantic

ConsultingResult(short_name='n_sess', name='Number of Sessions', value=100.0, units='Sessions', display_units='Sess')

In [58]:
b = ConsultingResult(
    short_name='tot_hours',
    name='Total Number of Hours',
    value=10.5,
    units='Hour',
    display_units='Hrs'
)

b

ConsultingResult(short_name='tot_hours', name='Total Number of Hours', value=10.5, units='Hour', display_units='Hrs')

In [59]:
results = ConsultingResultRepo(
    consulting_results=(a, b)
)
results
# Tuple automatically converted to List

ConsultingResultRepo(consulting_results=[ConsultingResult(short_name='n_sess', name='Number of Sessions', value=100.0, units='Sessions', display_units='Sess'), ConsultingResult(short_name='tot_hours', name='Total Number of Hours', value=10.5, units='Hour', display_units='Hrs')])

In [60]:
# let's add a new consulting result to the repo using the put method
c = ConsultingResult(
    short_name='n_sc',
    name='Number of Short Chats',
    value=50,
    units='Session',
    display_units='Sess'
)

results.put(c)
results

ConsultingResultRepo(consulting_results=[ConsultingResult(short_name='n_sess', name='Number of Sessions', value=100.0, units='Sessions', display_units='Sess'), ConsultingResult(short_name='tot_hours', name='Total Number of Hours', value=10.5, units='Hour', display_units='Hrs'), ConsultingResult(short_name='n_sc', name='Number of Short Chats', value=50.0, units='Session', display_units='Sess')])

In [61]:
# display all results using list_all method
results.list_all()

[ConsultingResult(short_name='n_sess', name='Number of Sessions', value=100.0, units='Sessions', display_units='Sess'),
 ConsultingResult(short_name='tot_hours', name='Total Number of Hours', value=10.5, units='Hour', display_units='Hrs'),
 ConsultingResult(short_name='n_sc', name='Number of Short Chats', value=50.0, units='Session', display_units='Sess')]

In [62]:
# get a result by specifying the short name (e.g., n_sess)
results.get('n_sess')

ConsultingResult(short_name='n_sess', name='Number of Sessions', value=100.0, units='Sessions', display_units='Sess')

In [63]:
# get a dictionary of the table
results.to_dict()

{'consulting_results': [{'short_name': 'n_sess',
   'name': 'Number of Sessions',
   'value': 100.0,
   'units': 'Sessions',
   'display_units': 'Sess'},
  {'short_name': 'tot_hours',
   'name': 'Total Number of Hours',
   'value': 10.5,
   'units': 'Hour',
   'display_units': 'Hrs'},
  {'short_name': 'n_sc',
   'name': 'Number of Short Chats',
   'value': 50.0,
   'units': 'Session',
   'display_units': 'Sess'}]}

In [68]:
# testing conversion to pandas dataframe

import pandas as pd
pd.DataFrame(results.to_dict()['consulting_results'])

  short_name                   name  value     units display_units
0     n_sess     Number of Sessions  100.0  Sessions          Sess
1  tot_hours  Total Number of Hours   10.5      Hour           Hrs
2       n_sc  Number of Short Chats   50.0   Session          Sess